<nav class="navbar navbar-expand-lg navbar-light shadow">
  <div class="container pt-2 pb-2">
    <a routerLink="/"  class="home-link-wrapper">
      <img class="hero me-2" src="../../assets/icons/hero.png" alt="Gogo's Kitchen">
      <h1 class="site-title m-0">
        Gogo&rsquo;s Kitchen
      </h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul id="navbarUl" class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" (click)="closeNavOnClick()">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/recipes" routerLinkActive="active-link" (click)="closeNavOnClick()">Recipes</a>
        </li>
        <li class="nav-item" *ngIf="userIsAdmin">
          <a class="nav-link" routerLink="/admin" routerLinkActive="active-link" (click)="closeNavOnClick()">Admin</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
