<nav class="navbar navbar-expand-lg navbar-light shadow">
  <div class="container pt-2 pb-2">
    <a href="#">
      <img class="hero me-2" src="../../assets/icons/hero.svg" alt="Happy Recipes">
    </a>
    <h1 href="#" class="site-title m-0">
      Happy Recipes
    </h1>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item me-3">
          <a class="nav-link" routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link" routerLink="/recipes" routerLinkActive="active-link">Recipes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/sign-in" routerLinkActive="active-link">Sign In</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
