nav{
  background-color: #d63031;

  img{
    &.hero{
      max-height: 40px;
      min-height: 40px;
    }
  }

  .site-title{
    font-size: 1.5rem;
    color: #fff;
  }

  a{
    color: #fff;
  }

  .navbar-brand{
    font-size: 1.5rem;
  }

  .nav-item{
    display: inline-block;
    position: relative;
    &:not(:last-child){
      margin-right: 1rem;
    }
    a{
      &.active-link{
        background-color: #e17055;
        border-radius: 0.25rem;
        &:after{
          content: none;
        }
      }
      &:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 3px;
        bottom: 0;
        left: 0;
        background-color: #fff;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }
      &:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
      @media (max-width: 991px){
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }
    @media (max-width: 991px){
      width: fit-content;
      &:first-child{
        margin-top: 1rem;
      }
    }
  }

  .navbar-toggler{
    color: #fff;
    border: 2px solid #fff;
    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
  }

}

