<section>
  <div class="container">
    <footer class="pt-3 pb-3">
      <div class="footer-info mx-auto text-center">
        <small>
          <a [routerLink]="'/auth'">Login</a>
        </small>
        <div class="logo-wrapper">
          <small class="mb-1">
            &copy; 2024 Studio Rio
          </small>
          <a href="https://www.studiorioconsulting.com/" target="_blank">
            <img src="../../assets/images/studio-rio-logo.webp" alt="Studio Rio Consulting">
          </a>
        </div>
      </div>
    </footer>
  </div>
</section>
