section{
  background-color: #2d3436;
  color: #fff;
  .footer-info{
    display: flex;
    justify-content: space-between;
  }
  small{
    display: block;
  }
  img{
    max-height: 30px;
    float: right;
  }
}
