<section>
  <div class="container pt-4 pb-4 page-wrapper">
    <div class="row">
      <div class="col-12">
        <a class="breadcrumb" [routerLink]="['/admin']">
          <i class="bi bi-chevron-double-left me-1"></i> Back to admin
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="banner mb-4">
          <h1>
            <i class="bi bi-pencil"></i> Edit recipe:
          </h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <form [formGroup]="editRecipeForm" (ngSubmit)="onSaveChanges()">
          <div class="form-group-wrapper">
            <h3>
              Overview:
            </h3>
            <div class="row">
              <div class="col-12">
                <div class="form-group mb-3">
                  <label for="name">Name</label>
                  <input
                    type="text"
                    id="name"
                    formControlName="name"
                    class="form-control mb-0"
                    [(ngModel)]="slugInput"
                    (input)="updateSlug()">
                </div>
                <div class="form-group mb-3 slug-wrapper" *ngIf="slugInput">
                  <label class="d-inline" for="slug">Slug:</label>
                  <p class="d-inline">
                    {{ slugOutput | slugGenerator}}
                  </p>
                  <input
                    type="text"
                    id="slug"
                    formControlName="slug"
                    class="form-control d-none"
                    [(ngModel)]="slugOutput"
                    >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <label for="author">Author</label>
                  <input
                    type="text"
                    id="author"
                    formControlName="author"
                    class="form-control"
                  >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label for="description">Description</label>
                  <textarea
                    type="text"
                    id="description"
                    class="form-control"
                    formControlName="description"
                    rows="6"></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6 col-md-2">
                <div class="form-group">
                  <label for="cookTime">Cook time</label>
                  <input
                    type="number"
                    min="5"
                    id="cookTime"
                    formControlName="cookTime"
                    class="form-control"
                    placeholder="Time in mins.">
                </div>
              </div>
              <div class="col-6 col-md-2">
                <div class="form-group">
                  <label for="servingSize">Serving size</label>
                  <input
                    type="number"
                    id="servingSize"
                    min="1"
                    formControlName="servingSize"
                    class="form-control"
                    placeholder="Total servings">
                </div>
              </div>
              <div class="col-6 col-md-2">
                <div class="form-group">
                  <label for="featured">Featured</label><br />
                  <input class="form-check-input mt-0" type="checkbox" id="featured" formControlName="featured">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <label for="imagePath">Link to recipe image</label>
                  <small class="d-block mb-3">
                    No image yet? No worries! Use our placeholder URL for now: https://i.imgur.com/qkklRA1.png
                  </small>
                  <input
                    type="text"
                    id="imagePath"
                    formControlName="imagePath"
                    class="form-control"
                    #recipeImagePath>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="recipeImagePath.value">
              <div class="col-12">
                <h6>
                  Image preview:
                </h6>
                <img [src]="recipeImagePath.value" class="img-responsive">
              </div>
            </div>
          </div>
          <div class="form-group-wrapper ingredients-wrapper">
            <h3>
              Ingredients:
            </h3>
            <div class="row">
              <div class="col-12" formArrayName="ingredients">
                <div
                  class="row"
                  *ngFor="let ingredientControl of recipeIngredientControls; let i = index"
                  [formGroupName]="i">
                  <div class="col-sm-6">
                    <input
                      type="text"
                      class="form-control"
                      formControlName="ingredientName"
                      placeholder="Ingredient name">
                  </div>
                  <div class="col-sm-2">
                    <input
                    type="number"
                    class="form-control"
                    formControlName="ingredientAmount"
                    placeholder="Ingredient amount">
                    <!-- <select name="ingredientAmount" id="ingredientAmount" formControlName="ingredientAmount" class="form-select">
                      <option [ngValue]="null" [disabled]="true">Amount</option>
                      <option *ngFor="let ingredientAmount of ingredientAmountOptions" [value]="ingredientAmount">
                        {{ ingredientAmount }}
                      </option>
                    </select> -->
                  </div>
                  <div class="col-sm-2">
                    <select name="ingredientMeasurementType" id="ingredientMeasurementType" formControlName="ingredientMeasurementType" class="form-select">
                      <option [ngValue]="null" [disabled]="true">Amount type</option>
                      <option *ngFor="let ingredientMeasurementType of ingredientAmountTypeOptions" [value]="ingredientMeasurementType">
                        {{ ingredientMeasurementType }}
                      </option>
                    </select>
                  </div>
                  <div class="col-sm-2">
                    <button
                      type="button"
                      class="btn btn-danger"
                      (click)="onDeleteIngredient(i)">X</button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <button
                      type="button"
                      class="btn btn-success"
                      (click)="onAddIngredient()">Add ingredient</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group-wrapper steps-wrapper mb-4">
            <h3>
              Steps:
            </h3>
            <div class="row">
              <div class="col-12" formArrayName="steps">
                <ol class="m-0 ps-3">
                  <li *ngFor="let stepControl of recipeStepsControls; let i = index" [formGroupName]="i">
                    <div class="row">
                      <div class="col-sm-10">
                        <textarea
                          type="text"
                          class="form-control"
                          formControlName="step"></textarea>
                      </div>
                      <div class="col-sm-2">
                        <button
                          type="button"
                          class="btn btn-danger"
                          (click)="onDeleteStep(i)">X</button>
                      </div>
                    </div>
                  </li>
                </ol>
                <div class="row">
                  <div class="col-12">
                    <button
                      type="button"
                      class="btn btn-success"
                      (click)="onAddStep()">Add Step</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group-wrapper mb-4">
            <h3>
              Tags:
            </h3>
            <div class="row mb-4">
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <select name="recipeTags" id="recipeTags" formControlName="tags" class="form-select" multiple>
                    <option *ngFor="let tag of recipeTagOptions" [value]="tag" class="tag-option">
                      {{ tag }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <h3>
              Additional notes:
            </h3>
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label for="notes">Helpful notes about ingredients and/or steps</label>
                  <textarea
                    type="text"
                    id="notes"
                    class="form-control"
                    formControlName="notes"
                    rows="4"></textarea>
                </div>
              </div>
            </div>
            <div class="row d-none">
              <div class="col-12">
                <div class="form-group">
                  <label for="created">Created</label>
                  <input
                    type="date"
                    id="created"
                    class="form-control"
                    formControlName="created" value="">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <button type="submit" class="btn btn-success me-3" [disabled]="!editRecipeForm.valid">Save changes</button>
              <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
