.auth-wrapper{
  height: 100%;
  background: url('../../assets/images/hero-background.png');
  background-size: cover;
}

.offset-md-2{
  background-color: #fff;
  padding: 2rem;
  border: 1px solid #6457a8;
  border-radius: 0.25rem;
}

.button-wrapper{
  display: flex;
  justify-content: space-between;
  button{
    &:not(.btn-light){
      color: #fff;
      background-color: #574b90;
    }
  }
}

.logged-wrapper{
  background-color: #6457a8;
  color: #fff;
  padding: 1rem;
  border-radius: 0.25rem;
  display: flex;
  justify-content: space-between;
  gap: 0.25rem;
  h3{
    margin: 0;
  }
}

.form-control{
  max-width: 500px;
}

@media (max-width: 390px){
  .button-wrapper{
    gap: 1rem;
    flex-wrap: wrap;
  }
}
