<section>
  <div class="container pt-5 pb-5">
    <div class="row">
      <div class="col-12 pb-2">
        <a class="breadcrumb" [routerLink]="['/recipes']">
          <i class="bi bi-chevron-double-left me-1"></i> Back to all recipes
        </a>
      </div>
    </div>
    <div class="recipe-wrapper">
      <div class="row">
        <div class="col-12">
          <div class="recipe-header-wrapper" [ngStyle]="recipe.image_path ? {
            'background': 'url('+recipe.image_path+')',
            'background-size': 'cover',
            'background-position-x': 'center',
            'background-position-y': 'center'
          } : {
            'background': 'linear-gradient(211deg, rgba(87,75,144,1) 0%, rgba(255,255,255,1) 40%, rgba(100,87,168,1) 100%);'
          }">
            <div class="recipe-header-info p-4">
              <h1>
                {{ recipe.name }}
              </h1>
              <p>
                Author: {{ recipe.author }} <span *ngIf="recipe.link"><a href="{{recipe.link}}" target="_blank"><i class="bi bi-box-arrow-up-right"></i></a></span>
              </p>
              <ul class="ps-0 mb-3">
                <li class="mb-1">
                  <i class="bi bi-clock me-1"></i> {{ recipe.total_time }} mins. (<span *ngIf="recipe.prep_time">{{ recipe.prep_time }} mins. prep</span><span *ngIf="recipe.chill_time"> / {{ recipe.chill_time }} mins. chill</span><span *ngIf="recipe.cook_time"> / {{ recipe.cook_time }} mins. cook</span>)
                </li>
                <li class="servings">
                  <i class="bi bi-person me-1"></i> {{ recipe.serving_size }} servings
                </li>
              </ul>
              <p class="mb-0">
                {{ recipe.description }}
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-12 col-md-5 col-lg-4">
          <div class="ingredient-pane">
            <div class="ingredient-header p-4">
              <h3 class="mb-0">
                Ingredients:
              </h3>
            </div>
            <div class="ingredient-content p-4">
              <p class="doubled-text" *ngIf="isDoubled">
                <i class="bi bi-asterisk"></i> Showing <u>doubled</u> quantities:
              </p>
              <div class="ingredient-group" *ngFor="let ingredientGroup of recipe.ingredient_groups; let last = last" [ngClass]="{'last-group': last}">
                <h4 *ngIf="recipe.ingredient_groups.length > 1">
                  {{ ingredientGroup.ingredientGroupName }}
                </h4>
                <ul class="ps-1">
                  <li *ngFor="let ingredient of ingredientGroup.ingredients">
                    <strong>{{ ingredient.ingredientAmount | ingredientAmountConverter: isDoubled}}
                    <span *ngIf="ingredient.ingredientMeasurementType != 'Count'">{{ ingredient.ingredientMeasurementType | ingredientSanitizer: ingredient.ingredientAmount | lowercase}}</span></strong>
                    {{ ingredient.ingredientName | lowerFirstLetter}}
                  </li>
                </ul>
                <hr class="mt-4 mb-4" />
              </div>
              <div class="notes-card fst-italic mt-5" *ngIf="recipe.notes">
                <h5 class="fw-bold">
                  Notes for this recipe:
                </h5>
                <p class="mb-0">
                  {{ recipe.notes }}
                </p>
              </div>
              <button type="button" class="double-button mt-3" (click)="toggleDouble()">
                <i class="bi bi-question-circle"></i> {{ isDoubled ? "View original ingredient amounts" : "Have a large group? Double the recipe!" }}
              </button>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-7 col-lg-8">
          <div class="steps-pane p-4">
            <h3 class="mb-3">
              Steps:
            </h3>
            <ol class="pe-3">
              <li *ngFor="let step of recipe.steps">
                <div>
                  {{ recipe.steps.indexOf(step) + 1 + '.'}}
                </div>
                <div>
                  {{ step.step }}
                </div>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
