<section>
  <div class="container pt-5 pb-5">
    <div class="row">
      <div class="col-12 pb-2">
        <a class="breadcrumb" [routerLink]="['/recipes']">
          <i class="bi bi-chevron-double-left me-1"></i> Back to all recipes
        </a>
      </div>
    </div>
    <div class="recipe-wrapper">
      <div class="row">
        <div class="col-12">
          <div class="recipe-header-wrapper" [ngStyle]="recipe.imagePath ? {
            'background': 'url('+recipe.imagePath+')',
            'background-size': 'cover',
            'background-position-x': 'center',
            'background-position-y': 'center'
          } : {
            'background': 'linear-gradient(211deg, rgba(87,75,144,1) 0%, rgba(255,255,255,1) 40%, rgba(100,87,168,1) 100%);'
          }">
            <div class="recipe-header-info p-4">
              <h1>
                {{ recipe.name }}
              </h1>
              <p>
                Author: {{ recipe.author }} <span *ngIf="recipe.link"><a href="{{recipe.link}}" target="_blank"><i class="bi bi-box-arrow-up-right"></i></a></span>
              </p>
              <ul class="ps-0 mb-3">
                <li class="mb-1">
                  <i class="bi bi-clock"></i> {{ recipe.totalTime }} mins. (<span *ngIf="recipe.prepTime">{{ recipe.prepTime }} mins. prep / </span><span *ngIf="recipe.chillTime">{{ recipe.chillTime }} mins. chill / </span><span *ngIf="recipe.prepTime">{{ recipe.cookTime }} mins. cook</span>)
                </li>
                <li class="servings">
                  <i class="bi bi-person"></i> {{ recipe.servingSize }} servings
                </li>
              </ul>
              <p class="mb-0">
                {{ recipe.description }}
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-12 col-md-5 col-lg-4">
          <div class="ingredient-pane p-4">
            <h3 class="mb-3">
              Ingredients:
            </h3>
            <p class="doubled-text" *ngIf="isDoubled">
              <i class="bi bi-asterisk"></i> Showing <u>doubled</u> quantities:
            </p>
            <ul class="ps-1 mb-4">
              <li *ngFor="let ingredientSet of recipe.ingredients">
                <strong>{{ ingredientSet.ingredientAmount | ingredientAmountConverter: isDoubled}}
                <span *ngIf="ingredientSet.ingredientMeasurementType != 'Count'">{{ ingredientSet.ingredientMeasurementType }}</span></strong>
                {{ ingredientSet.ingredientName }}
              </li>
            </ul>
            <div class="notes-card fst-italic" *ngIf="recipe.notes">
              <h5 class="fw-bold">
                Notes for this recipe:
              </h5>
              <p class="mb-0">
                {{ recipe.notes }}
              </p>
            </div>
            <button type="button" class="double-button mt-4" (click)="toggleDouble()">
              <i class="bi bi-question-circle"></i> {{ isDoubled ? "View original ingredient amounts" : "Have a large group? Double the recipe!" }}
            </button>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-7 col-lg-8">
          <div class="steps-pane p-4">
            <h3 class="mb-3">
              Steps:
            </h3>
            <ol class="pe-3">
              <li *ngFor="let step of recipe.steps">
                <div>
                  {{ recipe.steps.indexOf(step) + 1 + '.'}}
                </div>
                <div>
                  {{ step.step }}
                </div>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
