section{
  height: 100%;
  background: url('../../../assets/images/hero-background.png');
  background-repeat: no-repeat;
}

ul{
  list-style-type: none;
  margin-bottom: 0;
  li{
    &:not(:last-child){
      margin-bottom: 1rem;
    }
  }
}
ol{
  padding-left: 0;
  li{
    display: flex;
    padding-left: 0.25rem;
    div{
      &:first-child{
        font-size: 2rem;
        color: #574b90;
        text-shadow: 2px 2px 2px #efefef;
        padding-right: 1rem;
        min-width: 40px;
        text-align: right;
        margin-top: -6px;
      }
    }
    &:not(:last-child){
      margin-bottom: 1rem;
    }
  }
}
.ingredient-pane{
  background-color: #f0eef6;
  height: 100%;
}
.breadcrumb{
  i{
    transition: transform .25s ease-in-out;
  }
  &:hover{
    color: #574b90;
    i{
      transform: translateX(-4px);
    }
  }
}
.recipe-wrapper{
  background-color: #fff;
  border: 1px solid #efefef;
  border-radius: 0.5rem;
  overflow: hidden;
}
.recipe-header-wrapper{
  padding: 2rem;
  .recipe-header-info{
    background-color: rgba(0, 0, 0, 0.7);
    display: inline-block;
    color: #fff;
    border-radius: 0.5rem;
  }
  @media (max-width: 991px){
    padding: 0;
  }
}

.notes-card{
  padding: 1rem;
  background-color: #fff;
  border-top: 3px solid #574b90;
  border-radius: 0.25rem;
}

.doubled-text{
  background-color: #fdcb6e;
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem;
}

.double-button{
  background-color: transparent;
  border-radius: 0.25rem;
  border: none;
  color: #000;
  padding: 0.3rem 0.5rem 0.3rem 0.25rem;
  text-align: left;
}
