.wrapper{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#574b90;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  overflow: hidden;
  animation: fadeOut 3s linear;
}

@keyframes fadeOut {
  0%{
    opacity: 1;
  }
  80%{
    opacity: 0.9;
  }
  100%{
    opacity: 0;
  }
}
