<section>
  <div class="container pt-4">
    <div class="row">
      <div class="col-12">
        <h1>
          Add a recipe:
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
          <div class="form-group-wrapper">
            <h3>
              Overview:
            </h3>
            <div class="row">
              <div class="col-12">
                <div class="form-group mb-3">
                  <label for="name">Name</label>
                  <input
                    type="text"
                    id="name"
                    formControlName="name"
                    class="form-control mb-0"
                    [(ngModel)]="slugInput"
                    (input)="updateSlug()">
                </div>
                <div class="form-group mb-3 slug-wrapper" *ngIf="slugInput">
                  <label class="d-inline" for="slug">Slug:</label>
                  <p class="d-inline">
                    {{ slugOutput | slugGenerator}}
                  </p>
                  <input
                    type="text"
                    id="slug"
                    formControlName="slug"
                    class="form-control d-none"
                    [(ngModel)]="slugOutput"
                    >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label for="description">Description</label>
                  <textarea
                    type="text"
                    id="description"
                    class="form-control"
                    formControlName="description"
                    rows="6"></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6 col-md-2">
                <div class="form-group">
                  <label for="cookTime">Cook time</label>
                  <input
                    type="number"
                    min="5"
                    id="cookTime"
                    formControlName="cookTime"
                    class="form-control"
                    placeholder="Time in minutes">
                </div>
              </div>
              <div class="col-6 col-md-2">
                <div class="form-group">
                  <label for="servingSize">Serving size</label>
                  <input
                    type="number"
                    id="servingSize"
                    min="1"
                    formControlName="servingSize"
                    class="form-control"
                    placeholder="Total servings">
                </div>
              </div>
              <div class="col-6 col-md-2">
                <div class="form-group">
                  <label for="featured">Featured</label><br />
                  <input class="form-check-input mt-0" type="checkbox" value="" id="featured" formControlName="featured">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <label for="imagePath">Link to recipe image</label>
                  <input
                    type="text"
                    id="imagePath"
                    formControlName="imagePath"
                    class="form-control"
                    #recipeImagePath>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="recipeImagePath.value">
              <div class="col-12">
                <h5>
                  Image preview:
                </h5>
                <img [src]="recipeImagePath.value" class="img-responsive">
              </div>
            </div>
          </div>
          <div class="form-group-wrapper">
            <h3>
              Ingredients:
            </h3>
            <div class="row">
              <div class="col-12" formArrayName="ingredients">
                <div
                  class="row"
                  *ngFor="let ingredientCtrl of recipeIngredientControls; let i = index"
                  [formGroupName]="i">
                  <div class="col-sm-6">
                    <input
                      type="text"
                      class="form-control"
                      formControlName="name"
                      placeholder="Ingredient name">
                  </div>
                  <div class="col-sm-2">
                    <input
                      type="number"
                      class="form-control"
                      formControlName="amount"
                      placeholder="Amount">
                  </div>
                  <div class="col-sm-2">
                    <input
                      type="number"
                      class="form-control"
                      formControlName="measurementType"
                      placeholder="Amount type">
                  </div>
                  <div class="col-sm-2">
                    <button
                      type="button"
                      class="btn btn-danger"
                      (click)="onDeleteIngredient(i)">X</button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <button
                      type="button"
                      class="btn btn-success mt-3"
                      (click)="onAddIngredient()">Add ingredient</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group-wrapper mb-4">
            <h3>
              Steps:
            </h3>
            <div class="row">
              <div class="col-12" formArrayName="steps">
                <ol class="m-0">
                  <li *ngFor="let stepControl of recipeStepsControls; let i = index" [formGroupName]="i">
                    <div class="row">
                      <div class="col-sm-10">
                        <input
                          type="text"
                          class="form-control"
                          formControlName="step">
                      </div>
                      <div class="col-sm-2">
                        <button
                          type="button"
                          class="btn btn-danger"
                          (click)="onDeleteStep(i)">X</button>
                      </div>
                    </div>
                  </li>
                </ol>
                <div class="row">
                  <div class="col-12">
                    <button
                      type="button"
                      class="btn btn-success mt-3"
                      (click)="onAddStep()">Add Step</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <button type="submit" class="btn btn-success me-3" [disabled]="!recipeForm.valid">Submit</button>
              <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
