<section>
  <div class="container pt-4 pb-4 page-wrapper">
    <div class="row">
      <div class="col-12">
        <a class="breadcrumb" [routerLink]="['/admin']">
          <i class="bi bi-chevron-double-left me-1"></i> Back to admin
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="banner mb-4">
          <h1>
            <i class="bi bi-plus-square-fill"></i> Add a recipe:
          </h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
          <div class="form-group-wrapper">
            <h2 class="mb-3">
              General information:
            </h2>
            <div class="row">
              <div class="col-12 col-md-9">
                <div class="form-group mb-3">
                  <label for="name" class="required">Name</label>
                  <input
                    type="text"
                    id="name"
                    formControlName="name"
                    class="form-control mb-0"
                    [(ngModel)]="slugInput"
                    (input)="updateSlug()">
                </div>
                <div class="form-group mb-3 slug-wrapper" *ngIf="slugInput">
                  <label class="d-inline" for="slug">Slug:</label>
                  <p class="d-inline">
                    {{ slugOutput | slugGenerator}}
                  </p>
                  <input
                    type="text"
                    id="slug"
                    formControlName="slug"
                    class="form-control d-none"
                    [(ngModel)]="slugOutput"
                    >
                </div>
              </div>
              <div class="col-6 col-md-3">
                <div class="form-group">
                  <label for="featured">Featured</label><br />
                  <input class="form-check-input mt-0" type="checkbox" id="featured" formControlName="featured">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label for="author" class="required">Author</label>
                  <input
                    type="text"
                    id="author"
                    formControlName="author"
                    class="form-control"
                  >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label for="link">Link to original recipe (if found elsewhere online)</label>
                  <input
                    type="text"
                    id="link"
                    formControlName="link"
                    class="form-control"
                  >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label for="description" class="required">Description</label>
                  <textarea
                    type="text"
                    id="description"
                    class="form-control"
                    formControlName="description"
                    rows="4"></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6 col-md-2">
                <div class="form-group">
                  <label for="prepTime">Prep time</label>
                  <input
                    type="number"
                    min="5"
                    id="prepTime"
                    formControlName="prepTime"
                    class="form-control"
                    placeholder="Time in mins.">
                </div>
              </div>
              <div class="col-6 col-md-2">
                <div class="form-group">
                  <label for="cookTime">Cook time</label>
                  <input
                    type="number"
                    min="5"
                    id="cookTime"
                    formControlName="cookTime"
                    class="form-control"
                    placeholder="Time in mins.">
                </div>
              </div>
              <div class="col-6 col-md-2">
                <div class="form-group">
                  <label for="chillTime">Chill time</label>
                  <input
                    type="number"
                    min="5"
                    id="chillTime"
                    formControlName="chillTime"
                    class="form-control"
                    placeholder="Time in mins.">
                </div>
              </div>
              <div class="col-6 col-md-2">
                <div class="form-group">
                  <label for="totalTime" class="required">Total time</label>
                  <input
                    type="number"
                    min="5"
                    id="totalTime"
                    formControlName="totalTime"
                    class="form-control"
                    placeholder="Time in mins.">
                </div>
              </div>
              <div class="col-6 col-md-2">
                <div class="form-group">
                  <label for="servingSize" class="required">Serving size</label>
                  <input
                    type="number"
                    id="servingSize"
                    min="1"
                    formControlName="servingSize"
                    class="form-control"
                    placeholder="Total servings">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <label for="imagePath">Link to recipe image</label>
                  <small class="d-block mb-3">
                    No image yet? No worries! Use our placeholder URL for now: https://i.imgur.com/qkklRA1.png
                  </small>
                  <input
                    type="text"
                    id="imagePath"
                    formControlName="imagePath"
                    class="form-control"
                    #recipeImagePath>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="recipeImagePath.value">
              <div class="col-12">
                <p>
                  Image preview
                </p>
                <img [src]="recipeImagePath.value" class="img-responsive mb-3">
              </div>
            </div>
          </div>
          <div class="form-group-wrapper">
            <h2 class="mb-3">
              Ingredients:
            </h2>
            <div class="row">
              <label class="required">
                Ingredient Group
              </label>
              <div class="col-12 ingredients-wrapper" formArrayName="ingredientGroups">
                <div
                  class="row"
                  *ngFor="let ingredientGroup of recipeIngredientGroupControls.controls; let i = index"
                  [formGroupName]="i">
                  <div class="col-sm-12 col-md-5">
                    <input
                      type="text"
                      class="form-control"
                      formControlName="ingredientGroupName"
                      placeholder="Ingredient group name">
                  </div>
                  <div class="col-sm-12 col-md-7">
                    <button
                      type="button"
                      class="btn btn-danger"
                      (click)="deleteIngredientGroup(i)">X</button>
                  </div>
                  <div class="col-12 ingredients-wrapper" formArrayName="ingredients">
                    <div
                      class="row"
                      *ngFor="let ingredient of getIngredients(i).controls; let j = index" [formGroupName]="j">
                      <div class="col-sm-12 col-md-5">
                        <input
                          type="text"
                          class="form-control"
                          formControlName="ingredientName"
                          placeholder="Ingredient name">
                      </div>
                      <div class="col-sm-6 col-md-3">
                        <input
                        type="number"
                        class="form-control"
                        formControlName="ingredientAmount"
                        placeholder="Ingredient amount">
                        <!-- <select name="ingredientAmount" id="ingredientAmount" formControlName="ingredientAmount" class="form-select">
                          <option [ngValue]="null" [disabled]="true">Amount</option>
                          <option *ngFor="let ingredientAmount of ingredientAmountOptions" [value]="ingredientAmount">
                            {{ ingredientAmount }}
                          </option>
                        </select> -->
                      </div>
                      <div class="col-sm-6 col-md-3">
                        <select name="ingredientMeasurementType" id="ingredientMeasurementType" formControlName="ingredientMeasurementType" class="form-select">
                          <option [ngValue]="null" [disabled]="true">Amount type</option>
                          <option *ngFor="let ingredientMeasurementType of ingredientAmountTypeOptions" [value]="ingredientMeasurementType">
                            {{ ingredientMeasurementType }}
                          </option>
                        </select>
                      </div>
                      <div class="col-sm-1">
                        <button
                          type="button"
                          class="btn btn-danger"
                          (click)="deleteIngredient(i, j)">X</button>
                      </div>
                    </div>
                    <div class="row border-bottom">
                      <div class="col-12">
                        <button
                          type="button"
                          class="btn btn-success"
                          (click)="addIngredient(i)"><i class="bi bi-plus-square"></i> Add ingredient</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      (click)="addIngredientGroup()"><i class="bi bi-plus-square"></i> Add ingredient group</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group-wrapper">
            <h2 class="mb-3">
              Instructions:
            </h2>
            <div class="row">
              <label class="required">
                Steps
              </label>
              <div class="col-12 steps-wrapper" formArrayName="steps">
                <ol class="m-0 ps-3">
                  <li *ngFor="let stepControl of recipeStepsControls; let i = index" [formGroupName]="i">
                    <div class="row">
                      <div class="col-sm-10">
                        <textarea
                          type="text"
                          class="form-control"
                          formControlName="step"></textarea>
                      </div>
                      <div class="col-sm-2">
                        <button
                          type="button"
                          class="btn btn-danger"
                          (click)="onDeleteStep(i)">X</button>
                      </div>
                    </div>
                  </li>
                </ol>
                <div class="row">
                  <div class="col-12">
                    <button
                      type="button"
                      class="btn btn-success"
                      (click)="onAddStep()"><i class="bi bi-plus-square"></i> Add Step</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group-wrapper">
            <h2 class="mb-3">
              Additional information:
            </h2>
            <div class="row mb-4">
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label class="required">
                    Tags
                  </label>
                  <select name="recipeTags" id="recipeTags" formControlName="tags" class="form-select" multiple>
                    <option *ngFor="let tag of recipeTagOptions" [value]="tag" class="tag-option">
                      {{ tag }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label for="notes">Additional notes</label>
                  <textarea
                    type="text"
                    id="notes"
                    class="form-control"
                    formControlName="notes"
                    placeholder="Helpful notes about ingredients and/or steps"
                    rows="4"></textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="row d-none">
            <div class="col-12">
              <div class="form-group">
                <label for="created">Created</label>
                <input
                  type="date"
                  id="created"
                  class="form-control"
                  formControlName="created" value="">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <button type="submit" class="btn btn-success me-3" [disabled]="!recipeForm.valid" data-bs-toggle="modal" data-bs-target="#successModal">Submit</button>
              <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
              <span class="recipe-date">
                Recipe created: {{recipeCreatedDate | date:'medium' }}
              </span>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">
                Success! Your recipe has been added.
              </h5>
            </div>
            <div class="modal-body">
              <p class="mb-0">
                Latest recipe: <strong>{{ latestRecipeName }}</strong>
              </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn" data-bs-dismiss="modal" (click)="onCancel()">
                Go to admin
              </button>
              <button type="button" class="btn btn-light" data-bs-dismiss="modal">
                <i class="bi bi-plus-square-fill"></i> Add another recipe
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
