.breadcrumb{
  i{
    transition: transform .25s ease-in-out;
  }
  &:hover{
    color: #574b90;
    i{
      transform: translateX(-4px);
    }
  }
}

.banner{
  background-color: #198754;
  border-radius: 0.25rem;
  h1 {
    color: #fff;
    margin: 0;
    padding: 0.5em;
  }
}

.form-group-wrapper{
  background-color: #f2f2f2;
  padding: 2rem;
  border-radius: 0.5rem;
  &:not(:last-child){
    margin-bottom: 1rem;
  }
}

.slug-wrapper{
  label{
    &:before{
      content: none;
    }
  }
}

input, textarea{
  margin-bottom: 1.5rem;
}

input[type=checkbox]{
  height: 2rem;
  width: 2rem;
  border-radius: 0.375rem;
  &:checked{
    background-color: #574b90;
    border-color: #574b90;
    font-weight: bold;
  }
}

input{
  &::placeholder{
    font-size: 0.8rem;
  }
}

img{
  aspect-ratio: 16/9;
  object-fit: contain;
  object-position: top left;
  max-width: 300px;
}

.slug-wrapper{
  color: #999;
  font-size: 0.8rem;
}

#recipeTags{
  gap: 1rem;
  .tag-option{
    float: left;
    padding: 0.25rem;
    border-radius: 0.25rem;
    &:hover{
      font-weight: 900;
    }
    &:checked{
      font-weight: 900;
    }
    &:not(:last-child){
      margin-right: 0.5rem;
      margin-bottom: 0.5rem
    }
  }
}

.recipe-date{
  float: right;
  color: #999;
  font-size: 0.8rem;
}


@media (max-width: 390px){
  .form-group-wrapper{
    padding: 0.75rem;
  }
  .recipe-date{
    margin-top: 1rem;
    float: left;
  }
  .ingredients-wrapper, .steps-wrapper{
    textarea{
      margin-bottom: 0.5rem;
    }
    button{
      &.btn-danger{
        float: right;
        margin-bottom: 0.5rem;
        padding: 0.15rem 0.55rem;
      }
    }
  }
  .ingredients-wrapper{
    input, select{
      margin-bottom: 0.5rem;
    }
    .form-select{
      width: fit-content;
    }
    select{
      font-size: 0.75rem;
    }
  }
}

.modal-content{
  background-color: #198754;
  color: #fff;
  .modal-body{
    background-color: #f2f2f2;
    color: #2d3436;
  }
  .modal-footer{
    button{
      &:first-child{
        color: #fff;
        &:hover{
          color: #efefef;
        }
      }
    }
  }
}

small{
  color: #999;
}
