<router-outlet></router-outlet>


<!--

Recipe links:

https://therecipecritic.com/strawberry-cheesecake-salad/
https://natashaskitchen.com/chicken-pot-pie-recipe/
https://cookingpanda.com/blogs/recipes/get-the-recipe-reeses-monkey-bread
https://www.tiktok.com/@chipsinasandwich/video/7120044900577496366
https://www.southernliving.com/no-bake-peanut-butter-pie-7965196


No links:

Brownie cookies:

1. Combine butter, unsweetened chocolate, and 1 1/2 cups chocolate morsels in a large heavy saucepan. Cook over low heat, stirring constantly, until butter and chocolate melt; cool.
2. Combine flour, baking powder, and salt in a small bowl; set aside.
3. Beat eggs, sugar, and vanilla at medium speed with an electric mixer. Gradually add dry ingredients to egg mixture, beating well. Add chocolate mixture; beat well. Stir in remaining 1 1/2cups chocolate morsels and pecans (optional).
4. Drop dough by 2 tablespoonfuls 1 inch apart onto parchment paper-lined baking sheets.
5. Bake at 350° for 10 minutes. Cool slightly on baking sheets; remove to wire racks to cool completely. Yield: about 2 1/2 dozen.

1/2 cups butter
4 ounces (oz) unsweetened chocolate, chopped
3 cups semisweet chocolate morsels, divided
1 1/2 cups all-purpose flour
1/2 teaspoons (tsp) baking powder
1/2 teaspoons (tsp) salt
4 eggs
1 1/2 cups sugar
2 teaspoons (tsp) vanilla extract
2 cups pecans, toasted (optional)

///////////////////

Heavenly Chocolate Chunk Cookies

1. Combine butter and coffee granules in a small saucepan or skillet. Cook over medium-low heat until butter melts and coffee granules dissolve, stirring occasionally. Remove from heat, and cool to room temperature (don't let butter resolidify).
2. Combine flour, baking soda, and salt; set aside.
3. Combine butter mixture, sugars, egg, and egg yolk in a large bowl. Beat at medium speed with an electric mixer until blended. Gradually add flour mixture, beating at low speed jsut until blended. Stir in chocolate mega-morsels and walnut.
4. Drop dough by heaping tablespoonfuls 2 inches apart onto ungreased baking sheets.
5. Bake at 325­° for 12 to 14 minutes. Cool cookies slightly on baking sheets. Remove to wire racks to cool completely. Yields: 20 cookies.

3/4 cups butter or margarine
2 tablespoons (tbsp) instant coffee granules (optional)
2 cups all purpose flour
2 tablespoons (tbsp) all purpose flour
1/2 teaspoons (tsp) baking soda
1/2 teaspoons (tsp) salt
1 cups firmly packed brown sugar
1 teaspoons (tsp) vanilla
1/2 cups sugar
1 egg
11 1/2 ounces (oz) semisweet chocolate mega-morsels or chocolate chunks
1 cups walnut halves, toasted (optional)

///////////////////

Caramel Corn

1. Before making the caramel, ensure your popcorn is already popped
2. Melt butter in a small to medium size pot on the stove top
3. Once butter is melted, add brown sugar, corn syrup, and salt
4. Bring to a boil and boil for about two minutes stirring often
5. After two minutes, mix in baking soda
6. Place popcorn in brown paper bag
7. Pour mixture over popcorn and shake the bag lightly to help mix
8. Fold over the top of the bag and cook on high in the microwave for one minute
9. Remove the bag from the microwave (be careful for trapped steam!) and shake the bag again
10. Return the bag to the microwave and cook on high for one more minute
11. Remove the bag from the microwave, shake well, and pour contents into a bowl or out on a sheet try to cool
12. Enjoy!

1 cups brown sugar
1/2 cups butter
1/4 cups corn syrup
1/2 teaspoons (tsp) salt
1/2 teaspoons (tsp) baking soda
3 quarts (qt) popcorn
1 brown paper grocery bag

-->
