h3{
  color: #fff;
}

.card{
  border: none;
  .image-container {
    border-radius: 0.25rem 0.25rem 0 0;
    overflow: hidden;
    img {
      transition: transform .75s ease;
      aspect-ratio: 16/9;
      object-fit: cover;
    }
  }
  &:hover{
    .image-container {
      img{
        transform: scale(1.2);
      }
    }
  }
  .tag-list{
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    li{
      background-color: #b8b3fe;
      color: #fff;
      padding: .35rem;
      border-radius: 0.25rem;
      font-size: 0.8rem;
    }
  }
}

.featured{
  z-index: 2;
  position: absolute;
  right: 0;
  top: 10px;
  padding: 0.25rem 0.5rem;
  background-color: #a29bfe;
  color: #fff;
  border-radius: 0.25rem 0 0 0.25rem;
}
