<section>
  <div class="container pt-4">
    <div class="row">
      <div class="col-12">
        <h3 class="mb-4">
          Featured recipes
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-xl-3 d-flex mb-4" *ngFor="let recipe of featuredRecipes; let i = index">
        <a [routerLink]="['recipes/'+recipe.slug]">
          <div class="card mb-4 h-100">
            <div class="featured" *ngIf="recipe.featured">
              Featured
            </div>
            <div class="image-container">
              <img class="mw-100" src="{{recipe.image_path}}" alt="{{recipe.name}}">
            </div>
            <div class="info-container p-4 pb-0">
              <h5 class="fw-bold mb-3">
                {{ recipe.name }}
              </h5>
              <ul class="list-inline mb-0">
                <li class="list-inline-item">
                  <i class="bi bi-clock"></i> {{ recipe.total_time }} mins.
                </li>
                <li class="list-inline-item servings">
                  <i class="bi bi-person"></i> {{ recipe.serving_size }} servings
                </li>
              </ul>
              <!-- <ul class="list-inline tag-list mb-0">
                <li *ngFor="let tag of recipe.tags">
                  {{ tag }}
                </li>
              </ul> -->
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
