<!-- <section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="text-center mb-4">
          Featured recipes
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-4">
        <a href="#">
          <div class="card mb-4">
            <div class="image-container">
              <img class="mw-100" src="https://www.foodandwine.com/thmb/CGXpgjWOgHWv9TsqyMoLyl5cYrs=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/soppressata-pizza-with-calabrian-chile-hot-honey-FT-RECIPE0422-827abb3537834dbcb6ab0bbd6efece39.jpg" alt="">
            </div>
            <div class="info-container p-4">
              <h5 class="fw-bold mb-3">
                Soppressata Pizza with Calabrian Chiles and Hot Honey
              </h5>
              <ul class="list-inline mb-3">
                <li class="list-inline-item">
                  <i class="bi bi-clock"></i> 30 min.
                </li>
                <li class="list-inline-item servings">
                  <i class="bi bi-person"></i> 6-8
                </li>
              </ul>
              <p class="mb-3">
                Take a little soppressata, some chopped Calabrian chiles, and a drizzle of hot honey, and you'll end up with the pizza of the moment. Calabrian chiles, fiery chiles from Italy, add heat and a distinctly fruity flavor to this pie. The hot honey mirrors the flavors of the chiles, and adds a touch of sweetness.
              </p>
              <ul class="tag-list list-inline mb-0">
                <li class="list-inline-item">
                  Pizza
                </li>
                <li class="list-inline-item">
                  Italian
                </li>
                <li class="list-inline-item">
                  Date night
                </li>
                <li class="list-inline-item">
                  Quick meal
                </li>
              </ul>
            </div>
          </div>
        </a>
      </div>
      <div class="col-12 col-sm-12 col-md-4">
        <a href="#">
          <div class="card mb-4">
            <div class="image-container">
              <img class="mw-100" src="https://www.foodandwine.com/thmb/CGXpgjWOgHWv9TsqyMoLyl5cYrs=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/soppressata-pizza-with-calabrian-chile-hot-honey-FT-RECIPE0422-827abb3537834dbcb6ab0bbd6efece39.jpg" alt="">
            </div>
            <div class="info-container p-4">
              <h5 class="fw-bold mb-3">
                Soppressata Pizza with Calabrian Chiles and Hot Honey
              </h5>
              <ul class="list-inline mb-3">
                <li class="list-inline-item">
                  <i class="bi bi-clock"></i> 30 min.
                </li>
                <li class="list-inline-item servings">
                  <i class="bi bi-person"></i> 6-8
                </li>
              </ul>
              <p class="mb-3">
                Take a little soppressata, some chopped Calabrian chiles, and a drizzle of hot honey, and you'll end up with the pizza of the moment. Calabrian chiles, fiery chiles from Italy, add heat and a distinctly fruity flavor to this pie. The hot honey mirrors the flavors of the chiles, and adds a touch of sweetness.
              </p>
              <ul class="tag-list list-inline mb-0">
                <li class="list-inline-item">
                  Pizza
                </li>
                <li class="list-inline-item">
                  Italian
                </li>
                <li class="list-inline-item">
                  Date night
                </li>
                <li class="list-inline-item">
                  Quick meal
                </li>
              </ul>
            </div>
          </div>
        </a>
      </div>
      <div class="col-12 col-sm-12 col-md-4">
        <a href="#">
          <div class="card mb-4">
            <div class="image-container">
              <img class="mw-100" src="https://www.foodandwine.com/thmb/CGXpgjWOgHWv9TsqyMoLyl5cYrs=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/soppressata-pizza-with-calabrian-chile-hot-honey-FT-RECIPE0422-827abb3537834dbcb6ab0bbd6efece39.jpg" alt="">
            </div>
            <div class="info-container p-4">
              <h5 class="fw-bold mb-3">
                Soppressata Pizza with Calabrian Chiles and Hot Honey
              </h5>
              <ul class="list-inline mb-3">
                <li class="list-inline-item">
                  <i class="bi bi-clock"></i> 30 min.
                </li>
                <li class="list-inline-item servings">
                  <i class="bi bi-person"></i> 6-8
                </li>
              </ul>
              <p class="mb-3">
                Take a little soppressata, some chopped Calabrian chiles, and a drizzle of hot honey, and you'll end up with the pizza of the moment. Calabrian chiles, fiery chiles from Italy, add heat and a distinctly fruity flavor to this pie. The hot honey mirrors the flavors of the chiles, and adds a touch of sweetness.
              </p>
              <ul class="tag-list list-inline mb-0">
                <li class="list-inline-item">
                  Pizza
                </li>
                <li class="list-inline-item">
                  Italian
                </li>
                <li class="list-inline-item">
                  Date night
                </li>
                <li class="list-inline-item">
                  Quick meal
                </li>
              </ul>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section> -->
<section>
  <div class="container pt-4">
    <div class="row">
      <div class="col-12">
        <h3 class="text-center mb-4">
          Featured recipes
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-xl-3 d-flex mb-4" *ngFor="let recipe of recipes; let i = index">
        <a [routerLink]="['recipes/'+i]">
          <div class="card mb-4 h-100">
            <div class="image-container">
              <img class="mw-100" src="{{recipe.imagePath}}" alt="{{recipe.name}}">
            </div>
            <div class="info-container p-4 pb-0">
              <h5 class="fw-bold mb-3">
                {{ recipe.name }}
              </h5>
              <ul class="list-inline mb-3">
                <li class="list-inline-item">
                  <i class="bi bi-clock"></i> {{ recipe.cookTime }}
                </li>
                <li class="list-inline-item servings">
                  <i class="bi bi-person"></i> {{ recipe.servingSize }}
                </li>
              </ul>
              <ul class="list-inline tag-list mb-0">
                <li *ngFor="let tag of recipeTags">
                  {{ tag }}
                </li>
              </ul>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
