.site-wrapper{
  display: flex;
  flex-flow: column;
  height: 100%;
}

.fade-in{
  animation: fadeIn 3s linear forwards;
}

.header{
  flex: 0 1 auto;
}

main{
  flex: 1 1 auto;
}

.footer{
  flex: 0 1 40px;
}

@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  80%{
    opacity: 0.9;
  }
  100%{
    opacity: 1;
  }
}


@media (max-width: 390px){
  .body-content{
    padding: 0;
  }
}
