
.admin-wrapper{
  height: 100%;
  background: url('../../assets/images/hero-background.png');
  background-repeat: no-repeat;
}

.google-btn {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 14px;
  color: #2d3436;
  padding: 0.5rem 1rem;
  text-decoration: none;
  text-align: center;
  display: flex;
  align-items: center;
  transition: box-shadow 0.25s;
  &:hover{
    box-shadow: 2px 2px 2px #999;
  }
}

.google-logo {
  float: left;
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

.google-text {
  display: inline-block;
}

.unauthorized-error-message{
  padding: 0.5rem 1rem;
  background-color: #d63031;
  color: #fff;
  border-radius: 0.25rem;
  width: fit-content;
}

.user-name-wrapper{
  padding: 0.5rem 1rem;
  background-color: #d63031;
  color: #fff;
  border-radius: 0.25rem 0.25rem 0 0;
  button{
    float: right;
    color: #fff;
    background-color: transparent;
    &:hover{
      color: #e6e6e6;
    }
  }
}

.banner{
  background-color: #2d3436;
  border-radius: 0 0 0.25rem 0.25rem;
  h1 {
    color: #fff;
    margin: 0;
    padding: 0.5em;
  }
}

input{
  padding: 0.25rem 0.5rem;
  min-width: 30%;
}

a{
 &:hover{
  text-decoration: underline;
 }
}

.results-header{
  display: flex;
  justify-content: space-between;
  a{
    &:hover{
      text-decoration: none;
      color: #27ae60;
      .bi-plus-square-fill{
        color: #27ae60;
      }
    }
  }
}

.search-input-wrapper{
  display: flex;
  align-items: center;

  button{
    background-color: transparent;
    border: none;
  }

  .bi-x-circle{
    font-size: 1.5rem;
    color: #d63031;
  }
}

.recipe-blade{
  background-color: #f2f2f2;
  border-radius: 0.25rem;
  padding: 1rem 2rem;
  min-height: 70px;
  &:not(:last-child){
    margin-bottom: 0.25rem;
  }
  .recipe-name{
    line-height: 1.3;
    span{
      font-size: 0.75rem;
    }
  }
  button{
    border: none;
    &.delete{
      background-color: #eca493;
      &:hover{
        background-color: #f4c9be;
      }
    }
  }
  .recipe-actions-wrapper{
    display: flex;
    justify-content: end;
    align-items: center;
    .recipe-actions{
      display: flex;
      justify-content: flex-end;
      a{
        line-height: 24px;
        padding: 0.375rem 0.75rem;
        border-radius: 0.375rem;
        transition: background-color 0.15s;
        &.view-link{
          &:hover{
            background-color: #e6e6e6;
          }
        }
        &.edit-link{
          background-color: #fdcb6e;
          &:hover{
            background-color: #fddb9b;
          }
        }
        &:hover{
          text-decoration: none;
        }
      }
    }
  }

}

.modal-header{
  background-color: #d63031;
  color: #fff;
}

button{
  border: none;
  &.delete-confirmation{
    color: #fff;
    background-color: #d63031;
    &:hover{
      background-color: #e17055;
    }
  }
}

.deleted-recipe-name{
  padding: 0.5rem 1rem;
  background-color: #f2f2f2;
}


@media (max-width: 390px){
  input{
    min-width: 90%;
  }
  .recipe-blade{
    padding: 0.5rem 1rem;
    .recipe-actions{
      margin-top: 0.5rem;
      justify-content: left;
    }
    a{
      &.view-link{
        background-color: #e6e6e6;
      }
    }
  }

}
