<section>
  <div class="container pt-4">
    <div class="row">
      <div class="col-12">
        <div class="banner mb-4">
          <h1>
            Admin Dashboard
          </h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h4>
          Search:
        </h4>
        <input type="text" class="mb-5" [(ngModel)]="searchInput" (input)="updateResults()">
        {{searchInput}}
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h5>
          Results ({{recipeResults.length}}):
        </h5>
        <div class="recipe-blade" *ngFor="let recipe of recipeResults">
          <a [routerLink]="'/recipes/' + [recipe.slug]">
            {{ recipe.name }}
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
