h5{
  font-size: 1rem;
}

.list-inline-item{
  &:not(:last-child){
    margin-bottom: 0.25rem;
  }
}

#filter-wrapper{
  max-height: 300px;
  overflow: hidden;
  width: fit-content;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
  &.expanded{
    max-height: 1000px;
    transition: max-height 1s ease-in-out;
  }
  @media (max-width: 991px){
    max-height: none;
    display: flex;
    flex-wrap: wrap;
    .filter-container{
      margin-right: 2rem;
      label{
        padding-left: 0.5rem !important;
      }
      &:first-child{
        width: 100%;
      }
    }
  }
}

.filter-section{
  background-color: #fff;
}

.filter-container{
  display: flex;
  width: fit-content;
  margin-bottom: 1rem;
  input{
    height: 2rem;
    width: 2rem;
    accent-color: #d63031;
    border-radius: 50%;
    &:checked + label{
      font-weight: bold;
    }
    &:hover{
      cursor: pointer;
    }
  }

  label{
    font-size: 1.35rem;
    &:hover{
      cursor: pointer;
    }
  }

  @media (max-width: 991px){
    &:last-child{
      margin-bottom: 0;
    }
  }

}

#expandButton{
  color: #fff;
  background-color: #d63031;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  &:hover{
    background-color: #e17055;
  }
  @media (max-width: 991px){
    display: none;
  }
}

