<section>
  <div class="container pt-4">
    <div class="row">
      <div class="col-12">
        <div class="banner mb-4">
          <h1>
            Find a recipe
          </h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-3">
        <div class="filter-section">
          <h3>
            What are you interested in?
          </h3>
          <hr class="my-4 me-4" />
          <div id="filter-wrapper">
            <div class="filter-container">
              <input #allCheckbox type="checkbox" name="all" id="all" (click)="resetRecipes()">
              <label class="ps-3" for="all">
                All
              </label>
            </div>
            <div class="filter-container" *ngFor="let category of recipeCategories">
              <input #checkboxes type="checkbox" name="{{category | lowercase}}" id="{{category | lowercase}}">
              <label class="ps-3" for="{{category | lowercase}}" (click)="filterRecipes(category)">
                {{category}}
              </label>
            </div>
          </div>
          <button id="expandButton" type="button" (click)="expandCategoryList()">
            {{expandButtonText}}
          </button>
          <hr class="my-4 me-4" />
        </div>
      </div>
      <div class="col-12 col-md-9">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-6 col-xl-4 d-flex mb-4" *ngFor="let recipe of selectedRecipes; let i = index">
            <app-recipe-card [recipe]="recipe" [index]="i"></app-recipe-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
