<section>
  <div class="container pt-4">
    <div class="row">
      <div class="col-12">
        <div class="banner">
          <h1>
            Find a recipe
          </h1>
        </div>
        <div class="search-filter-wrapper">
          <div class="search-group-wrapper mb-1">
            <button type="button" class="ps-0" (click)="showSearch()">
              <i class="bi bi-search"></i> {{ searchLabel }}
            </button>
            <div class="search-wrapper mb-2" *ngIf="searchShowing">
              <input class="me-1" type="text" [(ngModel)]="searchInput" (input)="updateResults()" placeholder="Recipe name...">
              <button type="button" (click)="clearSearchInput()" *ngIf="searchInput">
                <i class="bi bi-x-circle"></i>
              </button>
            </div>
          </div>
          <div class="filter-group-wrapper">
            <button type="button" class="ps-0" (click)="showFilters()">
              <i class="bi bi-filter-circle"></i> {{ filterLabel }}
            </button>
            <button type="button" class="ms-3 reset-filter" (click)="resetFilter()" *ngIf="chosenFilter != 'All'">
              <i class="bi bi-x-circle"></i> Reset filter
            </button>
            <div class="filter-wrapper" *ngIf="filtersShowing">
              <button class="filter-option" *ngFor="let category of recipeCategories" (click)="filterByCategory($event, category)" [ngClass]="{'active': chosenFilter == category}">
                <img class="mw-100" [src]="'../../../assets/icons/categories/' + category + '.png'" alt="">
                {{ category }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-12">
            <p class="mb-0 mt-3">
              Sort by:
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="sort-wrapper-group">
              <div class="sort-wrapper" *ngIf="servingSizeSortText === servingSizeSortTextOptions[0]">
                <button type="button" (click)="sortByCookTime()" [ngClass]="
                {
                  'filter-default': cookTimeSortText === cookTimeSortTextOptions[0],
                  'filter-lowest-highest': cookTimeSortText === cookTimeSortTextOptions[1],
                  'filter-highest-lowest': cookTimeSortText === cookTimeSortTextOptions[2]
                }">
                  <i class="bi" [ngClass]="
                  {
                    'bi-clock': cookTimeSortText === cookTimeSortTextOptions[0],
                    'bi-sort-numeric-down': cookTimeSortText === cookTimeSortTextOptions[1],
                    'bi-sort-numeric-down-alt': cookTimeSortText === cookTimeSortTextOptions[2]
                  }"></i> {{ cookTimeSortText }}
                </button>
              </div>
              <div class="sort-wrapper" *ngIf="cookTimeSortText != cookTimeSortTextOptions[0] || servingSizeSortText != servingSizeSortTextOptions[0]">
                <button class="reset-sort-button" type="button" (click)="resetSort()">
                  <i class="bi bi-x-circle"></i> Reset
                </button>
              </div>
              <div class="sort-wrapper" *ngIf="cookTimeSortText === cookTimeSortTextOptions[0]">
                <button type="button" (click)="sortByServingSize()" [ngClass]="
                {
                  'filter-default': servingSizeSortText === servingSizeSortTextOptions[0],
                  'filter-lowest-highest': servingSizeSortText === servingSizeSortTextOptions[1],
                  'filter-highest-lowest': servingSizeSortText === servingSizeSortTextOptions[2]
                }">
                  <i class="bi" [ngClass]="
                  {
                    'bi-person': servingSizeSortText === servingSizeSortTextOptions[0],
                    'bi-sort-down-alt': servingSizeSortText === servingSizeSortTextOptions[1],
                    'bi-sort-down': servingSizeSortText === servingSizeSortTextOptions[2]
                  }"></i> {{ servingSizeSortText }}
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <p>
              Showing <u><strong>{{ selectedRecipes.length }}</strong></u> results for <u><strong>{{ chosenFilter }}</strong></u> recipes:
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <hr />
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-12 col-md-6 col-xl-4 d-flex mb-4" *ngFor="let recipe of selectedRecipes; let i = index">
            <app-recipe-card [recipe]="recipe" [index]="i"></app-recipe-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
