.info-container{
  p{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.tag-list{
  li{
    background-color: #d63031;
    color: #fff;
    padding: .35rem;
    border-radius: 0.25rem;
    font-size: 0.8rem;
  }
}

hr{
  border-top: 2px solid #e6e6e6;
}

.card{
  .image-container {
    overflow: hidden;
    img {
      transition: transform .75s ease;
    }
  }
  &:hover{
    border: 1px solid #e17055;
    .image-container {
      img{
        transform: scale(1.2);
      }
    }
  }
}




