h1{
  font-size: 4rem;
}

.container{
  color: #fff;
}

.home-wrapper{
  height: 100%;
  background: url('../../assets/images/background-cookies.png');
  background-repeat: no-repeat;
  background-size: cover;
}

a{
  background-color: #a29bfe;
  color: #fff;
  &:hover{
    background-color: #b8b3fe;
  }
}
