<div class="home-wrapper pt-5 pb-5">
  <section class="mb-4">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="fw-bold mb-4">
            Welcome to Gogo&rsquo;s Kitchen!
          </h1>
          <h4 class="font-weight-bold">
            Where every meal is a celebration of family, love, and good food.
          </h4>
          <p class="mb-4">
            We believe that food is a powerful way to connect with loved ones and create lasting memories. From traditional family recipes that have been handed down for generations to modern twists on classic dishes, our menu is a reflection of our love for food and family. We invite you to join us at our virtual table, where you&rsquo;ll experience the warmth and hospitality of our family kitchen and taste the love that goes into every dish.
          </p>
          <a routerLink="/recipes" class="btn">
            <i class="bi bi-search-heart"></i> Explore recipes
          </a>
        </div>
      </div>
    </div>
  </section>
  <app-featured-recipes></app-featured-recipes>
</div>
